@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <a href="/Home/Login" class="btn btn-primary">Sign In</a> <hr />
    <a href="/Home/Registration" class="btn btn-primary">Sign Up</a>  <hr />
    <b>Forgot password?</b><br />
    <a href="/Home/Forgotpass" >Reset Password</a><hr />
    <a href="/Home/Aboutus" class="btn btn-primary">About Us</a>  <hr />
</div>