

@{ ViewBag.Title = "Login"; }

<h2>Login</h2>
<form action="/Home/Login" method="post">
    <input type="text" name="Username" placeholder="Username">
    <input type="password" name="Password" placeholder="Password">
    <input type="submit" value="Login" href="/product/cart/Username">
</form>
