@model Shop.Models.User



<div class="jumbotron">
    <a class="btn btn-primary" href="/Customer/Profiles">View profile</a>   <hr />
    <a class="btn btn-primary" href="/Customer/Edit">Edit profile</a>   <hr />
    <a class="btn btn-primary" href="/Customer/ProductSearch">Shopping</a>   <hr />
    <a class="btn btn-warning" href="/Customer/Logout">Logout</a>   <hr />

</div>